.chapter-container[data-chapter-name="dashboard"] {
  .dashboard-container {
    width: calc(100% - var(--margin-l) * 2);
    height: calc(100% - var(--margin-l) * 2);

    max-height: calc(100% - var(--margin-l) * 2);

    margin: var(--margin-l);

    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: auto minmax(0, 1fr) auto;
    grid-template-areas:
      "db-cpu-card db-ram-card db-file-card"
      "db-graph-cpu db-graph-cpu db-chart-ram"
      "db-net-info db-file-table db-file-table";
    gap: var(--gap-l);

    overflow: hidden;
    overflow-y: auto;

    &.hidden {
      display: none;
    }

    & > div {
      min-width: 0;
      min-height: 0;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      border-radius: var(--border-radius-s);
      background: var(--bg-light);

      overflow: hidden;
    }

    .dashboard-card.cpu-card,
    .dashboard-card.ram-card,
    .dashboard-card.file-card {
      padding: var(--padding-xl);

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: var(--gap-xxs);

      & > svg {
        margin-bottom: var(--margin-xs);

        width: 24px;
        height: 24px;

        opacity: 0.3;
      }

      .title {
        font-size: var(--font-m);
        font-weight: var(--font-weight-medium);
        opacity: 1;
      }

      .description {
        margin-bottom: var(--margin-s);

        font-size: var(--font-xs);
        font-weight: var(--font-weight-medium);
        opacity: 0.6;
      }

      .value-slider {
        width: 100%;
        height: 8px;
        min-height: 8px;

        margin-top: auto;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        border-radius: 999px;
        background: var(--bg-lighter);

        overflow: hidden;

        .value-slider-inner {
          width: 0%;
          height: 100%;

          background: var(--grey);
          border-radius: 999px;
        }
      }

      .value {
        margin-top: var(--margin-xxs);
        margin-left: auto;

        .value-value {
          font-size: var(--font-s);
          font-weight: var(--font-weight-medium);
        }

        .value-delimeter {
          font-size: var(--font-s);
          font-weight: var(--font-weight-medium);
          opacity: 0.3;
        }

        .value-max-value {
          font-size: var(--font-s);
          font-weight: var(--font-weight-medium);
          opacity: 0.6;
        }
      }

      &[data-load="low"] {
        .value-slider .value-slider-inner {
          background: var(--green);
        }
      }

      &[data-load="medium"] {
        .value-slider .value-slider-inner {
          background: var(--yellow);
        }
      }

      &[data-load="high"] {
        .value-slider .value-slider-inner {
          background: var(--red);
        }
      }
    }

    .dashboard-table.file-table {
      min-height: 120px;

      padding: var(--padding-xl);

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: var(--gap-m);

      overflow: hidden;
      overflow-y: scroll;

      .title {
        font-size: var(--font-m);
        font-weight: var(--font-weight-medium);
        opacity: 0.6;
      }

      .table-data {
        width: 100%;
        border-collapse: collapse;

        thead tr {
          th {
            padding-bottom: var(--padding-xs);

            text-align: left;
            font-size: var(--font-s);
            font-weight: var(--font-weight-medium);
            opacity: 0.3;

            &:nth-child(4) {
              text-align: right;
            }
          }
        }

        tbody tr {
          &:not(:last-child) td {
            border-bottom: 1px dashed var(--border);
          }

          td {
            padding: var(--gap-s) 0;

            text-align: left;
            font-size: var(--font-s);
            font-weight: var(--font-weight-medium);
            opacity: 1;

            &:nth-child(4) {
              text-align: right;
            }
          }
        }
      }
    }

    .dashboard-graph.graph-cpu {
      padding: var(--padding-xl);

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: var(--gap-xxs);

      overflow: hidden;

      .title {
        font-size: var(--font-m);
        font-weight: var(--font-weight-medium);
        opacity: 1;
      }

      .description {
        margin-bottom: var(--margin-s);

        font-size: var(--font-xs);
        font-weight: var(--font-weight-medium);
        opacity: 0.6;
      }

      .cpu-graph {
        width: 100%;
        height: 100%;
      }
    }

    .dashboard-graph.chart-ram {
      padding: var(--padding-xl);

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: var(--gap-xxs);

      overflow: hidden;

      .title {
        font-size: var(--font-m);
        font-weight: var(--font-weight-medium);
        opacity: 1;
      }

      .description {
        margin-bottom: var(--margin-s);

        font-size: var(--font-xs);
        font-weight: var(--font-weight-medium);
        opacity: 0.6;
      }

      .ram-graph {
        width: 100%;
        height: 100%;
        min-height: 120px;
      }
    }

    .dashboard-data.net-info {
      padding: var(--padding-xl);

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: var(--gap-xxs);

      overflow: hidden;

      .title {
        font-size: var(--font-m);
        font-weight: var(--font-weight-medium);
        opacity: 1;
      }

      .description {
        margin-bottom: var(--margin-s);

        font-size: var(--font-xs);
        font-weight: var(--font-weight-medium);
        opacity: 0.6;
      }

      .net-usage {
        width: 100%;
        height: 100%;

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--gap-s);

        .amount-send,
        .amount-received {
          width: calc(100% - var(--padding-l) * 2);
          height: calc(100% - var(--padding-l) * 2);

          padding: var(--padding-l);

          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: var(--gap-xxs);

          background: var(--main);
          border-radius: var(--border-radius-l);

          .icon {
            padding: var(--padding-xs);

            background: var(--text-static-dark);
            border-radius: 999px;

            svg {
              width: 12px;
              height: 12px;

              color: var(--main);
              stroke: var(--main);
            }
          }

          .value {
            margin-top: auto;

            color: var(--text-static-dark);

            font-size: var(--font-l);
            font-weight: var(--font-weight-semibold);
            text-align: left;
          }

          .label {
            margin-top: calc(var(--gap-xxs) * -1);

            color: var(--text-static-dark);

            font-size: var(--font-xxs);
            font-weight: var(--font-weight-medium);
            text-align: left;

            opacity: 0.6;
          }
        }

        .amount-send {
          background: var(--main);

          .icon {
            svg {
              color: var(--main);
              stroke: var(--main);
            }
          }
        }
        .amount-received {
          background: var(--main-dark);

          .icon {
            svg {
              color: var(--main-dark);
              stroke: var(--main-dark);
            }
          }
        }
      }
    }
  }
}
