.chapter-container[data-chapter-name=servers] .add-server-container {
  width: calc(100% - var(--padding-l) * 2);
  height: calc(100% - var(--padding-l) * 2);
  padding: var(--padding-l);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-xl);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-l);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields label {
  margin-bottom: calc(var(--gap-l) * -1 + var(--gap-xxs));
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields input,
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields select {
  width: 100%;
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields input.error,
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields select.error {
  box-shadow: 0px 0px 0px 2px var(--red-alpha);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields .icon-selector {
  position: relative;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  background: var(--bg-lightest);
  border-radius: 999px;
  overflow: hidden;
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields .icon-selector.error {
  box-shadow: 0px 0px 0px 2px var(--red-alpha);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields .icon-selector #icon-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
  z-index: 1;
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-fields .icon-selector #icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  opacity: 0;
  border-radius: 999px;
  z-index: 2;
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-actions {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: var(--gap-l);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-actions #add-server-test-connection {
  background: var(--bg-lightest);
  color: var(--text);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-actions #add-server-test-connection svg {
  color: var(--text);
  stroke: var(--text);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-message {
  width: 100%;
  text-align: center;
  font-size: var(--font-xs);
  font-weight: var(--font-weight-normal);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-message.hidden {
  display: none;
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-message[data-test-status=true] {
  color: var(--green);
}
.chapter-container[data-chapter-name=servers] .add-server-container .add-server-message[data-test-status=false] {
  color: var(--red);
}

/*# sourceMappingURL=add-server.css.map */
